apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
type: Opaque
stringData:
  age.agekey: |
    # created: 2026-02-15T11:33:48Z
    # public key: age1yf8vpv99q0kea8655nylmr5c6dyq94v83t82w0ycs6g5la0rnsvqfpzvnl
    AGE-SECRET-KEY-1TTEYUKAXVAXM5KA0YPZ0FTZSTWJV7XUF3HDLXYA22XH5MWJQ7PUQ48JQR2
